@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.new-slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.new-slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.new-slides input {
    display: none;
}

.new-slide-container {
    background: #333 url("https://codepen.io/images/classy_fabric.png");
    display: block;
}

.new-slide {
    top: 0;
    opacity: 0;
    margin: 0 auto;
    padding: 0;
    width: 96%;
    height: 100%;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}


.new-slide img {
    width: 100%;
    height: 100%;
}

.new-nav label {
    box-sizing: border-box;
    width: 111px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.new-slide:hover+.new-nav label {
    opacity: 0.5;
}

.new-nav label:hover {
    opacity: 1;
}

.new-nav .next {
    right: 0;
}

input:checked+.new-slide-container .new-slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.new-slide-container .new-nav label {
    display: block;
}

.new-nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.new-nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.new-nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked~.new-nav-dots label#img-dot-1,
input#img-2:checked~.new-nav-dots label#img-dot-2,
input#img-3:checked~.new-nav-dots label#img-dot-3,
input#img-4:checked~.new-nav-dots label#img-dot-4,
input#img-5:checked~.new-nav-dots label#img-dot-5,
input#img-6:checked~.new-nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
